body {
  margin: 0;
  padding: 0;
  border: 0;
}
.header {
  position: relative;
  top: 7px;
  left: 100px;
  width: 80%;
  height: 10%;
  border: 2 px solid red;
  background-color: blue;
  color: white;
  text-align: center;
}
.left-box {
  position: absolute;
  top: 12%;
  left: 100px;
  width: 20%;
  height: 60%;
  background-color: yellowgreen;
  float: left;
  text-align: center;
  color: white;
  font-size: 3rem;
  justify-content: center;
}
.right-box {
  position: absolute;
  top: 12%;
  left: 28%;
  width: 60%;
  height: 60%;
  background-color: yellowgreen;
  float: right;
  text-align: center;
  color: white;
  font-size: 3rem;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: 0;
}

.footer {
  position: relative;
  top: 335px;
  left: 100px;
  width: 80%;
  height: 10%;
  border: 2 px solid red;
  background-color: blue;
  color: white;
  text-align: center;
  clear: both;
}
